* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%; /* S'assurer que le body et le HTML prennent toute la hauteur */
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* 3 lignes : nav, contenu principal, footer */
  height: 100%;
}

nav {
  height: 5em;
  width: 100%;
  background-color: #a1cad9;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  height: 5em;
  width: 100%;
}
main {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
}
.calendrier {
    grid-area: calendrier;
  /* height: 10em; */
  width: 100%;
  background-color: #b9b9b9;
}

.principal {
    display: grid; 
    grid-template-columns: 40% 60%; 
    grid-template-rows: 0.3fr 2fr 0.7fr; 
    /* gap: 5px 5px;  */
    grid-template-areas: 
      "documents map"
      "fiches map"
      "calendrier calendrier";
}
.documents {
    grid-area: documents;
}
.fiches {
    grid-area: fiches;
  background-color: rgb(206, 222, 26);
  height: 100%;
}

.map {
    grid-area: map;
  background-color: rgb(62, 222, 26);
  height: 100%;
}

