* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%; /* S'assurer que le body et le HTML prennent toute la hauteur */
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* 3 lignes : nav, contenu principal, footer */
  height: 100%;
}

nav {
  height: 5em;
  width: 100%;
  background-color: #a1cad9;
  display: flex;
  align-items: center;
  gap: 2em;
}

.menu {
  border: solid black 1px;
  border-radius: 1em;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.menu a {
  text-decoration: none; /* Supprime le soulignement */
  color: black;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  height: 5em;
  width: 100%;
}
main {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 3fr;
}

.principal {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 0.3fr 0.3fr 2fr 0.7fr;
  /* gap: 5px 5px;  */
  grid-template-areas:
    "titre titre"
    "documents map"
    "fiches map"
    "calendrier calendrier";
}

.titre {
  grid-area: titre;
  background-image: url(./ressources/beach-2528635_1280.jpg);
  background-size: cover; /* Ajuste la taille */
  background-position: center; /* Centre l’image */
  background-repeat: no-repeat; /* Empêche la répétition */
  color: white;
  font-size: larger;

  display: flex;
  justify-content: center;
  align-items: center;
}
.documents {
  grid-area: documents;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.outils {
  width: 4em;
  height: 4em;
  border: solid black 1px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outils i {
  font-size: 2em;
}

.fiches {
  grid-area: fiches;
  background-color: rgb(108, 173, 230);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.fiche {
  width: 80%;
  height: 50px;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #d1d0d0;
}

.map {
  grid-area: map;
  background-color: rgb(62, 222, 26);
  height: 100%;
}

.calendrier {
  grid-area: calendrier;
  /* height: 10em; */
  width: 100%;
  background-color: #b9b9b9;
}
